.btn {
  padding: 0.8em;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 0.1em;
  cursor: pointer;
  box-shadow: 0 2px 8px #0008;
}

.btn.btn-round {
  border-radius: 100%;
}
.btn.btn-round.fa {
  width: 1.3em;
  height: 1.3em;
  font-size: 40px;
  margin-top: -0.05em;
  line-height: 1.2em;
  text-align: center;
  padding: 0;
}
.btn:hover {
  background-color: var(--secondary-color-dark);
}
